node_modules/
server/node_modules/
coverage/
test_outputs/
dist/
*.db
var
.env.local
.env.test.local
.vscode/
.make-logs/
*.log


#server
server/node_modules/
server/coverage/
server/test_outputs/
server/db/

#client
client/test-results/
client/playwright-report/
client/blob-report/
client/playwright/.cache/
client/playwright/.auth/
