node_modules/
server/node_modules/
package-lock.json
coverage/
test_outputs/
dist/
*.db
var
.env.local
.env.test.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#server
server/node_modules/
server/package-lock.json
server/coverage/
server/test_outputs/
server/db/

#client
client/test-results/
client/playwright-report/
client/blob-report/
client/playwright/.cache/
client/playwright/.auth/
